/*All pages will use it!*/

body {
	font-family: 'Righteous', cursive;
	font-size: 16px;
	color: #fff;
	background: #9b26af
}

#header-nav {
	background-color: #3f51b5;
	border-radius: 0;
	border: 0;
	height: 100px;
}

.navbar-brand {
	padding-top: 5px;
}

.navbar-brand h1{ /*Brand Name*/
	font-family: 'Tangerine', serif;
	font-size: 4em;
	color: #fff;
	text-shadow: 4px 4px 4px #aaa;

}

#nav-list {
	font-size: 1.2em;
	text-align: center;
	color: #9b26af;
	background: #fff;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}

#nav-list li:hover {
	color: #00ffff;
	background: #3f51b5;
}

.row {
	background: #000000;
}

.textBox {
	background: #0000ff;
	border: 15px  solid black;
	box-sizing: border-box;
	height: 1000px;
}